<component name="libraryTable">
  <library name="Spring_lib_4.3">
    <CLASSES>
      <root url="file://$USER_HOME$/Desktop/Work/My2020/java_web/Spring_lib_4.3.18" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$USER_HOME$/Desktop/Work/My2020/java_web/Spring_lib_4.3.18" recursive="false" />
  </library>
</component>